.vats-flex {
  display: flex;
  align-items: center;
  &-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  &-1 {
    flex: 1;
  }
}

.vats-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vats-layout-transition {
  transition: width 0.2s;
}

.vats-block {
  display: block;
}

.iconfont.anticon {
  vertical-align: inherit;
  &::before {
    display: inline-block !important;
  }
}

@import "dark";